@page "/"

<PageTitle>Shipments</PageTitle>

<h1>Shipment Summary</h1>

<Filter OnFilterSelected="@ApplyFilterOnSummary" ShipmentFilterViewModel="@ShipmentFilterViewModel"></Filter>

<Summary ShipmentSummaries="@ShipmentSummaries"></Summary>


