@page "/"

<PageTitle>Shipments</PageTitle>

<h4 class="fw-bold">User Preferences</h4>

<CheckboxFilter OnFilterSelected="@ApplyFilterOnSummary" ShipmentFilterViewModel="@ShipmentFilterViewModel"></CheckboxFilter>

<Summary ShipmentSummaries="@ShipmentSummaries"></Summary>


