@using Tgl.Shared.Domain
@using Tgl.Shared.Models

<select multiple @onchange="OnFromLocationSelect" @bind="" class="form-control">
    @foreach (var city in MockDataService.FromLocationDropdownList)
    {
        <option value="@city.Id">@city.Name</option>
    }
</select>
