@using Tgl.Shared.Domain
@using Tgl.Shared.Models

<li class="list-group-item">
    <label class="label  fw-bold fs-6">Shipment Cost</label>
    <select value="@SelectedShipmentCostId" @onchange="OnShipmentCostSelectChange" class="form-control">
        @foreach (var shipmentCost in ShipmentCostList)
        {
            <option value="@shipmentCost.Id">@shipmentCost.RelationalOperator @shipmentCost.Amount</option>
        }
    </select>
</li>

